:root {
  --primary-color: #fb929e;
  --secondary-color: #fff6f6;
  --heading-font: "Playfair Display", serif;
  --p-font: "Poppins", sans-serif;
}

body {
  font-family: var(--p-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-weight: 700;
}

h2 {
  font-size: 64px;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 80px 20px;
}
.hero h1 {
  font-size: 96px;
  font-family: var(--heading-font);
}

.hero h2 {
  font-size: 24px;
  font-family: var(--p-font);
  font-weight: 400;
  line-height: 2;
}

.hero p {
  font-size: 36px;
  font-family: var(--p-font);
  font-weight: 700;
  margin: 0;
}

.content-container {
  padding: 80px 20px;
}

.content-container h1 {
  font-size: 64px;
  line-height: 1.2;
}

.content-container h2 {
  font-size: 18px;
  font-family: var(--p-font);
}

.content-container h3 {
  font-family: var(--p-font);
  font-size: 24px;
}

.content {
  margin: 30px;
}

.btn-main {
  font-family: var(--p-font);
  font-size: 18px;
  padding: 18px 46px;
  line-height: 27px;
  color: white;
  background-color: var(--primary-color);
  transition: all 100ms ease-in-out;
}

.btn-main:hover {
  color: black;
  background-color: var(--primary-color);
}

.btn-project {
  font-family: var(--p-font);
  font-size: 18px;
  padding: 18px 30px;
  line-height: 27px;
  color: var(--primary-color);
  background-color: white;
  border: 1px solid var(--primary-color);
  transition: all 100ms ease-in-out;
}

.btn-project:hover {
  color: black;
  border: 1px solid var(--primary-color);
}

.img-background {
  padding: 50px;
  background-color: var(--secondary-color);
  border-radius: 4px;
}

.app-description {
  padding: 40px 60px;
}

@media (max-width: 960px) {
  h1,
  .hero h1,
  h2,
  .content h1 {
    font-size: 45px;
  }

  .hero {
    padding: 80px, 20px;
  }

  .content {
    text-align: center;
    margin: 10px;
  }

  .app-description {
    padding: 0;
    text-align: center;
  }
}
